{extends file="layout-mail-rappel.tpl"}

{block name="contenu"}
    <p class="title">{intl l="AVEZ-VOUS RENCONTRÉ UN PROBLÈME ?" d="abandonedcartreminder"}</p>
    <p>{intl l="Nous sommes à votre disposition pour répondre à toutes vos question éventuelles. N’hésitez pas à nous contacter." d="abandonedcartreminder"}</p>
    <p class="title">{intl l="VOICI LE CONTENU DE VOTRE PANIER :" d="abandonedcartreminder"}</p>
{/block}

{block name="footer"}
    <p class="right">{intl l="Have a nice day."}</p>
{/block}